@tailwind base;
@tailwind components;
@tailwind utilities;

.your-element-class {
  background: linear-gradient(
    90.17deg,
    rgb(18, 18, 18) 20.03%,
    rgba(18, 18, 18, 0.84) 60.18%,
    rgba(1, 1, 1, 0.12) 100.15%
  );
}

.your-element-class2 {
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0.87) 0%,
    rgba(34, 34, 34, 0.48) 100%
  );
}

.Robot {
  font-family: "Roboto", sans-serif;
}
.Dinpro {
  font-family: "Barlow", sans-serif;
}

.grid1 {
  grid-template-columns: 60% 25%;
}

/* In your CSS file */
/* In your CSS file or style block */
.shadow-top {
  box-shadow: 0px 4px 8.9px 0px rgba(0, 0, 0, 0.06);
}
